*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/images/background.png);
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-box{
    width: 450px;
    height: 400px;
    background: #ff574a;
    text-align: center;
}